.navbar-dark {
  background-color: rgba($color: $primary-color, $alpha: 0.8);
  display: flex !important;
  justify-content: space-between !important;

  .navbar-brand {
    position: absolute;
    left: 1%;
    color: $color-four !important;
  }
}

.navbar-collapse {
  display: flex !important;

  justify-content: flex-end !important;

  .link-container {
    // margin-left: 150%;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;

    .nav-link {
      color: $color-four !important;

      a {
        cursor: pointer;
      }
    }
  }
}
